/* Home.css */

.home-container {
  font-family: Arial, sans-serif;
}

.header {
  background-color: #333;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  color: #fff;
  font-size: 24px;
  margin: 0;
}

.navigation a {
  color: #fff;
  text-decoration: none;
  margin-left: 10px;
}

.hero {
  background-image: url('/Users/karynachernyak/vschool/development/LEVEL-5/LEVEL5CAPSTONE/client/src/components/farmpicture.avif');
  background-size: cover;
  background-position: center;
  height: 600px;
  display: flex;
  align-items: center;
}

.hero-content {
  text-align: center;
  color: #fff;
  margin-top: 150px;
}

.hero-title {
  font-size: 36px;
  margin: 0;
  margin-bottom: .5rem;
  color: white;
}

.hero-subtitle {
  font-size: 24px;
  margin: 0;
  margin-bottom: 2rem;
}

.hero-description {
  font-size: 18px;
  margin: 0;
  /* margin-bottom: .5rem; */
}

.explore-button {
  padding: 12px 24px;
  font-size: 18px;
  border: none;
  background-color: #3498db;
  color: #fff;
  cursor: pointer;
}

.announcements {
  background-color: #f8f8f8;
  padding: 2rem 0;
  text-align: center;
}

.announcements-title {
  font-size: 24px;
  margin: 0;
  margin-bottom: 1rem;
}

.announcements-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.announcement {
  margin-bottom: 0.5rem;
}

.announcement-text {
  font-size: 18px;
  margin: 0;
}

.footer {
  background-color: #333;
  padding: 10px;
  text-align: center;
  color: #fff;
}

  